<!-- base.html -->
<!DOCTYPE html>
<html>

<head>
    <title>Crypto Screener</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    {% block head %}{% endblock %}
</head>

<body>
    <div class="navbar">
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
        </div>
        <a href="{{ url_for('index') }}" class="{{ 'active' if request.endpoint == 'index' else '' }}">Screener</a>
        <a href="{{ url_for('watcher') }}" class="{{ 'active' if request.endpoint == 'watcher' else '' }}">Watcher</a>
    </div>


    <div class="container">
        <div id="loadingIndicator">Loading...</div>
        <div class="progress-container">
            <div class="progress-bar" id="progressBar"></div>
        </div>

        {% block content %}

        {% endblock %}
    </div>


</body>

</html>